In [689]:
import pandas as pd

In [690]:
df1 = pd.read_csv("languages_info.csv")
df1

       Unnamed: 0   Languages languages_frequency
0               0        HTML               62134
1               1         CSS               33954
2               2  JavaScript                5034
3               3       Shell                3869
4               4  Dockerfile                 217
...           ...         ...                 ...
28377       28377      Python              277541
28378       28378       Shell                1477
28379       28379         ---                 ---
28380       28380      Python              434123
28381       28381         ---                 ---

[28382 rows x 3 columns]

In [691]:
indice = 0
for i in range(len(df1)):
    if df1.loc[i, 'languages_frequency'] == '---':
        indice += 1
    df1.loc[i, 'repo'] = indice

In [692]:
df1.drop(df1[df1['Languages'] == '---'].index, inplace=True)

In [693]:
df1.reset_index(drop=True, inplace=True)

In [694]:
df1

       Unnamed: 0   Languages languages_frequency    repo
0               0        HTML               62134     0.0
1               1         CSS               33954     0.0
2               2  JavaScript                5034     0.0
3               3       Shell                3869     0.0
4               4  Dockerfile                 217     0.0
...           ...         ...                 ...     ...
20656       28374        Cuda                9505  7718.0
20657       28375         C++                2540  7718.0
20658       28377      Python              277541  7719.0
20659       28378       Shell                1477  7719.0
20660       28380      Python              434123  7720.0

[20661 rows x 4 columns]

In [695]:
df1.tail(5)

       Unnamed: 0 Languages languages_frequency    repo
20656       28374      Cuda                9505  7718.0
20657       28375       C++                2540  7718.0
20658       28377    Python              277541  7719.0
20659       28378     Shell                1477  7719.0
20660       28380    Python              434123  7720.0

In [696]:
df1.tail(5)

       Unnamed: 0 Languages languages_frequency    repo
20656       28374      Cuda                9505  7718.0
20657       28375       C++                2540  7718.0
20658       28377    Python              277541  7719.0
20659       28378     Shell                1477  7719.0
20660       28380    Python              434123  7720.0

In [697]:
df1.drop(df1.tail(33).index, inplace=True)

In [698]:
df1.tail(5)

       Unnamed: 0         Languages languages_frequency    repo
20623       28329              HTML                 338  7706.0
20624       28330             Shell                 165  7706.0
20625       28332            Python               48891  7707.0
20626       28333  Jupyter Notebook                5455  7707.0
20627       28334             Shell                2224  7707.0

In [699]:
table_langue = df1[["Languages", "repo", "languages_frequency"]]
table_langue

              Languages    repo languages_frequency
0                  HTML     0.0               62134
1                   CSS     0.0               33954
2            JavaScript     0.0                5034
3                 Shell     0.0                3869
4            Dockerfile     0.0                 217
...                 ...     ...                 ...
20623              HTML  7706.0                 338
20624             Shell  7706.0                 165
20625            Python  7707.0               48891
20626  Jupyter Notebook  7707.0                5455
20627             Shell  7707.0                2224

[20628 rows x 3 columns]

In [700]:
new_column_names = {
    'Languages': 'language',
    'repo': 'repo_id',
    'languages_frequency': 'language_byte'
}

table_langue.rename(columns=new_column_names, inplace=True)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\3710402524.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_langue.rename(columns=new_column_names, inplace=True)

In [701]:
table_langue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20628 entries, 0 to 20627
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   language       20628 non-null  object
 1   repo_id        20628 non-null  float64
 2   language_byte  20628 non-null  object
dtypes: float64(1), object(2)
memory usage: 483.6+ KB

In [702]:
table_langue['repo_id'] = table_langue['repo_id'].astype(int)
table_langue['language_byte'].replace('empty', 0 , inplace=True)
table_langue['language_byte'] = table_langue['language_byte'].astype(int)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\3335766110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_langue['repo_id'] = table_langue['repo_id'].astype(int)
C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\3335766110.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_langue['language_byte'].replace('empty', 0 , inplace=True)
C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\3335766110.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_langue['language_byte'] = table_langue['language_byte'].astype(int)

In [703]:
table_langue.reset_index(inplace=True)

In [704]:
table_langue.drop("index", inplace=True, axis=1)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\1485651606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_langue.drop("index", inplace=True, axis=1)

In [705]:
table_langue

               language  repo_id  language_byte
0                  HTML        0          62134
1                   CSS        0          33954
2            JavaScript        0           5034
3                 Shell        0           3869
4            Dockerfile        0            217
...                 ...      ...            ...
20623              HTML     7706            338
20624             Shell     7706            165
20625            Python     7707          48891
20626  Jupyter Notebook     7707           5455
20627             Shell     7707           2224

[20628 rows x 3 columns]

In [706]:
#read data file 
df_repo = pd.read_csv("repositories_github.csv")
df_repo.tail(5)

,Unnamed: 0,full_name,private,description,created_at,updated_at,size,stargazers_count,language,open_issues_count,...,owner_type,Contributors,nombre_contribution,max_contribution,max_contributeur,Languages,frequencies,max_frequency,most_frequent_language,wtache
7703,7703,PerceivingSystems/bedlam_render,False,BEDLAM render pipeline tools,2023-06-20T13:48:28Z,2023-06-22T05:26:58Z,8510,21,Python,0,...,Organization,['crnacura'],[1],1,crnacura,"['Python', 'Shell']","[149782.0, 3167.0]",149782.0,Python,5.0
7704,7704,cheesycoke/Button-Studio,False,Sloppy Lil Program for Generating Key Prompts,2023-06-20T00:38:13Z,2023-06-22T07:07:54Z,2773,20,GDScript,0,...,User,['drpatelh'],[1],1,drpatelh,"['GDScript', 'GAP']","[157566.0, 5598.0]",157566.0,GDScript,1.0
7705,7705,poljudy/weather_forecast_app,False,This is weather forecast app built with pure f...,2023-06-20T18:25:22Z,2023-06-21T19:54:59Z,2577,18,Dart,0,...,User,"['Hannibal046', 'Smith42']","[4, 2]",4,Hannibal046,['Dart'],[66216.0],66216.0,Dart,5.0
7706,7706,vastxie/ChatGPT-Web,False,EChatGptWeb ChatGpt Web,2023-06-20T04:32:09Z,2023-06-22T01:03:28Z,656,18,TypeScript,3,...,User,['yilunliao'],[4],4,yilunliao,"['TypeScript', 'Less', 'JavaScript', 'HTML', '...","[235343.0, 49637.0, 9136.0, 338.0, 165.0]",235343.0,TypeScript,2.0
7707,7707,yuanzhi-zhu/prolific_dreamer2d,False,Unofficial implementation of D ProlificDreamer,2023-06-20T13:40:50Z,2023-06-22T08:48:55Z,5813,16,Python,0,...,User,"['gaochen315', 'alex04072000']","[2, 1]",2,gaochen315,"['Python', 'Jupyter Notebook', 'Shell']","[48891.0, 5455.0, 2224.0]",48891.0,Python,1.0

In [707]:
df_repo.columns

Index(['Unnamed: 0', 'full_name', 'private', 'description', 'created_at',
       'updated_at', 'size', 'stargazers_count', 'language',
       'open_issues_count', 'forks_count', 'owner_type', 'Contributors',
       'nombre_contribution', 'max_contribution', 'max_contributeur',
       'Languages', 'frequencies', 'max_frequency', 'most_frequent_language',
       'wtache'],
      dtype='object')

In [708]:
df_repo = df_repo[['Unnamed: 0', 'full_name', 'private', 'description', 'created_at',
       'updated_at', 'size', 'stargazers_count',
       'open_issues_count', 'forks_count', 'owner_type','wtache']]

In [709]:
df_repo

,Unnamed: 0,full_name,private,description,created_at,updated_at,size,stargazers_count,open_issues_count,forks_count,owner_type,wtache
0,0,redteamguides/redteamguides.github.io,False,Red Team Guides,2023-03-14T07:51:43Z,2023-06-19T18:28:00Z,23309,116,0,16,User,6.0
1,1,JellyApple102/easyread.nvim,False,bioniclike reading inside Neovim,2023-03-14T06:23:32Z,2023-06-19T19:34:39Z,22340,114,0,2,User,2.0
2,2,chshersh/zbg,False,Zero bullshit git,2023-03-14T21:21:40Z,2023-06-22T05:48:41Z,363,114,14,6,User,3.0
3,3,NordSecurity/libtelio,False,A library providing networking utilities for N...,2023-03-14T10:04:44Z,2023-06-21T23:48:04Z,928,90,3,9,Organization,10.0
4,4,opensaucerer/barf,False,Barf is basically a remarkable framework for b...,2023-03-14T04:46:32Z,2023-06-19T01:50:42Z,102,86,4,9,User,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7703,7703,PerceivingSystems/bedlam_render,False,BEDLAM render pipeline tools,2023-06-20T13:48:28Z,2023-06-22T05:26:58Z,8510,21,0,1,Organization,5.0
7704,7704,cheesycoke/Button-Studio,False,Sloppy Lil Program for Generating Key Prompts,2023-06-20T00:38:13Z,2023-06-22T07:07:54Z,2773,20,0,0,User,1.0
7705,7705,poljudy/weather_forecast_app,False,This is weather forecast app built with pure f...,2023-06-20T18:25:22Z,2023-06-21T19:54:59Z,2577,18,0,5,User,5.0
7706,7706,vastxie/ChatGPT-Web,False,EChatGptWeb ChatGpt Web,2023-06-20T04:32:09Z,2023-06-22T01:03:28Z,656,18,3,9,User,2.0
7707,7707,yuanzhi-zhu/prolific_dreamer2d,False,Unofficial implementation of D ProlificDreamer,2023-06-20T13:40:50Z,2023-06-22T08:48:55Z,5813,16,0,0,User,1.0

In [710]:
df_user = pd.DataFrame(df_repo["full_name"])

In [711]:
df_user

                                  full_name
0     redteamguides/redteamguides.github.io
1               JellyApple102/easyread.nvim
2                              chshersh/zbg
3                     NordSecurity/libtelio
4                         opensaucerer/barf
...                                     ...
7703        PerceivingSystems/bedlam_render
7704               cheesycoke/Button-Studio
7705           poljudy/weather_forecast_app
7706                    vastxie/ChatGPT-Web
7707         yuanzhi-zhu/prolific_dreamer2d

[7708 rows x 1 columns]

In [712]:
df_user['full_name'] = df_user['full_name'].str.split('/').str[0]

In [713]:
df_user

              full_name
0         redteamguides
1         JellyApple102
2              chshersh
3          NordSecurity
4          opensaucerer
...                 ...
7703  PerceivingSystems
7704         cheesycoke
7705            poljudy
7706            vastxie
7707        yuanzhi-zhu

[7708 rows x 1 columns]

In [714]:
df_user['repo_id'] = range(7708)

In [715]:
table_user = df_user

In [716]:
table_user

              full_name  repo_id
0         redteamguides        0
1         JellyApple102        1
2              chshersh        2
3          NordSecurity        3
4          opensaucerer        4
...                 ...      ...
7703  PerceivingSystems     7703
7704         cheesycoke     7704
7705            poljudy     7705
7706            vastxie     7706
7707        yuanzhi-zhu     7707

[7708 rows x 2 columns]

In [717]:
df_repo = df_repo[['private', 'description', 'created_at', 'updated_at', 'size', 'stargazers_count',
       'open_issues_count', 'forks_count', 'owner_type','wtache']]

In [718]:
df_repo['repo_id'] = range(7708)
df_repo

C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\4068663695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_repo['repo_id'] = range(7708)

,private,description,created_at,updated_at,size,stargazers_count,open_issues_count,forks_count,owner_type,wtache,repo_id
0,False,Red Team Guides,2023-03-14T07:51:43Z,2023-06-19T18:28:00Z,23309,116,0,16,User,6.0,0
1,False,bioniclike reading inside Neovim,2023-03-14T06:23:32Z,2023-06-19T19:34:39Z,22340,114,0,2,User,2.0,1
2,False,Zero bullshit git,2023-03-14T21:21:40Z,2023-06-22T05:48:41Z,363,114,14,6,User,3.0,2
3,False,A library providing networking utilities for N...,2023-03-14T10:04:44Z,2023-06-21T23:48:04Z,928,90,3,9,Organization,10.0,3
4,False,Barf is basically a remarkable framework for b...,2023-03-14T04:46:32Z,2023-06-19T01:50:42Z,102,86,4,9,User,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...
7703,False,BEDLAM render pipeline tools,2023-06-20T13:48:28Z,2023-06-22T05:26:58Z,8510,21,0,1,Organization,5.0,7703
7704,False,Sloppy Lil Program for Generating Key Prompts,2023-06-20T00:38:13Z,2023-06-22T07:07:54Z,2773,20,0,0,User,1.0,7704
7705,False,This is weather forecast app built with pure f...,2023-06-20T18:25:22Z,2023-06-21T19:54:59Z,2577,18,0,5,User,5.0,7705
7706,False,EChatGptWeb ChatGpt Web,2023-06-20T04:32:09Z,2023-06-22T01:03:28Z,656,18,3,9,User,2.0,7706
7707,False,Unofficial implementation of D ProlificDreamer,2023-06-20T13:40:50Z,2023-06-22T08:48:55Z,5813,16,0,0,User,1.0,7707

In [719]:
df_repo.columns

Index(['private', 'description', 'created_at', 'updated_at', 'size',
       'stargazers_count', 'open_issues_count', 'forks_count', 'owner_type',
       'wtache', 'repo_id'],
      dtype='object')

In [720]:
table_langue.rename(columns={'language': 'languages'}, inplace=True)
table_langue

C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\2074957528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_langue.rename(columns={'language': 'languages'}, inplace=True)

              languages  repo_id  language_byte
0                  HTML        0          62134
1                   CSS        0          33954
2            JavaScript        0           5034
3                 Shell        0           3869
4            Dockerfile        0            217
...                 ...      ...            ...
20623              HTML     7706            338
20624             Shell     7706            165
20625            Python     7707          48891
20626  Jupyter Notebook     7707           5455
20627             Shell     7707           2224

[20628 rows x 3 columns]

In [721]:
df2 = pd.read_csv("table_contri.csv")
df2.reset_index(inplace=True)
df2.drop("Unnamed: 0", axis=1, inplace=True)
df2.drop("index", axis=1, inplace=True)
df2

        Contributors Contributors_frequency  repo
0           rezaduty                     44     0
1      redteamrecipe                      9     0
2      redteamguides                      2     0
3      JellyApple102                     30     1
4            JKubovy                      1     1
...              ...                    ...   ...
16330       crnacura                      1  7716
16331       drpatelh                      1  7717
16332    Hannibal046                      4  7718
16333        Smith42                      2  7718
16334      yilunliao                      4  7719

[16335 rows x 3 columns]

In [722]:
df2.drop(df2.tail(36).index, inplace=True)

In [723]:
df2

        Contributors Contributors_frequency  repo
0           rezaduty                     44     0
1      redteamrecipe                      9     0
2      redteamguides                      2     0
3      JellyApple102                     30     1
4            JKubovy                      1     1
...              ...                    ...   ...
16294     cheesycoke                     11  7704
16295        derpsol                     34  7705
16296        poljudy                      2  7705
16297        vastxie                      9  7706
16298    yuanzhi-zhu                     16  7707

[16299 rows x 3 columns]

In [724]:
df2['Contributors_frequency'].replace('empty', 0 , inplace=True)
df2['Contributors_frequency'] = df2['Contributors_frequency'].astype(int)

In [725]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16299 entries, 0 to 16298
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Contributors            16299 non-null  object
 1   Contributors_frequency  16299 non-null  int32
 2   repo                    16299 non-null  int64
dtypes: int32(1), int64(1), object(1)
memory usage: 318.5+ KB

In [726]:
df2.columns

Index(['Contributors', 'Contributors_frequency', 'repo'], dtype='object')

In [727]:
df_repo["created_at"] = pd.to_datetime(df_repo['created_at'])
df_repo["updated_at"] = pd.to_datetime(df_repo['updated_at'])
df_repo['size'] = df_repo['size'].astype(int)
df_repo['wtache'] = df_repo['wtache'].astype(int)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\3905279256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_repo["created_at"] = pd.to_datetime(df_repo['created_at'])
C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\3905279256.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_repo["updated_at"] = pd.to_datetime(df_repo['updated_at'])
C:\Users\Youcode\AppData\Local\Temp\ipykernel_11144\3905279256.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_repo['size'] = df_repo['size'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [728]:
print(df_repo.dtypes)

private                             bool
description                       object
created_at           datetime64[ns, UTC]
updated_at           datetime64[ns, UTC]
size                               int32
stargazers_count                   int64
open_issues_count                  int64
forks_count                        int64
owner_type                        object
wtache                           float64
repo_id                            int64
dtype: object

In [729]:
df_repo

,private,description,created_at,updated_at,size,stargazers_count,open_issues_count,forks_count,owner_type,wtache,repo_id
0,False,Red Team Guides,2023-03-14 07:51:43+00:00,2023-06-19 18:28:00+00:00,23309,116,0,16,User,6.0,0
1,False,bioniclike reading inside Neovim,2023-03-14 06:23:32+00:00,2023-06-19 19:34:39+00:00,22340,114,0,2,User,2.0,1
2,False,Zero bullshit git,2023-03-14 21:21:40+00:00,2023-06-22 05:48:41+00:00,363,114,14,6,User,3.0,2
3,False,A library providing networking utilities for N...,2023-03-14 10:04:44+00:00,2023-06-21 23:48:04+00:00,928,90,3,9,Organization,10.0,3
4,False,Barf is basically a remarkable framework for b...,2023-03-14 04:46:32+00:00,2023-06-19 01:50:42+00:00,102,86,4,9,User,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...
7703,False,BEDLAM render pipeline tools,2023-06-20 13:48:28+00:00,2023-06-22 05:26:58+00:00,8510,21,0,1,Organization,5.0,7703
7704,False,Sloppy Lil Program for Generating Key Prompts,2023-06-20 00:38:13+00:00,2023-06-22 07:07:54+00:00,2773,20,0,0,User,1.0,7704
7705,False,This is weather forecast app built with pure f...,2023-06-20 18:25:22+00:00,2023-06-21 19:54:59+00:00,2577,18,0,5,User,5.0,7705
7706,False,EChatGptWeb ChatGpt Web,2023-06-20 04:32:09+00:00,2023-06-22 01:03:28+00:00,656,18,3,9,User,2.0,7706
7707,False,Unofficial implementation of D ProlificDreamer,2023-06-20 13:40:50+00:00,2023-06-22 08:48:55+00:00,5813,16,0,0,User,1.0,7707

In [742]:
import pandas as pd
import pyodbc

# Replace the connection string with your actual SQL Server connection string
conn_str = 'DRIVER={SQL Server};SERVER=LAPTOP-REU1GLF5\SQLEXPRESS;DATABASE=Github_base'

# Establish a connection to the database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [743]:
# Drop the "Repositories" table if it exists
cursor.execute("IF OBJECT_ID('Repository_Languages', 'U') IS NOT NULL DROP TABLE Repository_Languages")
cursor.execute("IF OBJECT_ID('Repository_Contributors', 'U') IS NOT NULL DROP TABLE Repository_Contributors")
cursor.execute("IF OBJECT_ID('Users', 'U') IS NOT NULL DROP TABLE Users")
cursor.execute("IF OBJECT_ID('Repositories', 'U') IS NOT NULL DROP TABLE Repositories")
cursor.execute("IF OBJECT_ID('Languages', 'U') IS NOT NULL DROP TABLE Languages")
cursor.execute("IF OBJECT_ID('Contributors', 'U') IS NOT NULL DROP TABLE Contributors")
conn.commit()

In [744]:
# Create the table if it doesn't exist
cursor.execute('''
CREATE TABLE Repositories (
    private BIT,
    created_at DATE,
    updated_at DATE,
    size INT,
    stars INT,
    open_issues_count INT,
    forks_count INT,
    owner_type VARCHAR(50),
    repo_id INT PRIMARY KEY
)
''')
conn.commit()

# Insert data into the table
for row in df_repo.itertuples(index=False):
    cursor.execute("INSERT INTO Repositories (private, created_at, updated_at, size, stars, open_issues_count, forks_count, owner_type, repo_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", 
                   row.private, row.created_at, row.updated_at, row.size, row.stargazers_count, row.open_issues_count, row.forks_count, row.owner_type, row.repo_id)
    conn.commit()

In [745]:
# Create the Languages table if it doesn't exist
cursor.execute('''
CREATE TABLE Languages (
    language_id INT PRIMARY KEY,
    language_name VARCHAR(50),
    frequence INT
)
''')
conn.commit()

In [746]:
unique_languages = table_langue['languages'].unique()
for idx, language in enumerate(unique_languages):
    cursor.execute("INSERT INTO Languages (language_id, language_name, frequence) VALUES (?, ?, ?)", idx + 1, language, int(table_langue[table_langue['languages'] == language]['language_byte'].sum()))
    conn.commit()

In [747]:
# Create the Repository_Languages table with foreign keys to Repositories and Languages tables
cursor.execute('''
CREATE TABLE Repository_Languages (
    repo_id INT,
    language_id INT,
    PRIMARY KEY (repo_id, language_id),
    FOREIGN KEY (repo_id) REFERENCES Repositories(repo_id),
    FOREIGN KEY (language_id) REFERENCES Languages(language_id)
)
''')
conn.commit()

In [748]:
# Map the languages to their respective language_id and insert into the Repository_Languages table
languages_mapping = {language: idx + 1 for idx, language in enumerate(unique_languages)}
repo_lang_data = []

for row in table_langue.itertuples(index=False):
    language, repo_id, _ = row
    language_id = languages_mapping[language]
    repo_lang_data.append((repo_id, language_id))

for data in repo_lang_data:
    cursor.execute("INSERT INTO Repository_Languages (repo_id, language_id) VALUES (?, ?)", data[0], data[1])
conn.commit()

In [749]:
cursor.execute('''
CREATE TABLE Contributors (
    contributor_id INT PRIMARY KEY,
    Contributeur VARCHAR(50),
    nombre_de_contribution INT
)
''')
conn.commit()

In [750]:
# Insert data into the Contributors table (only unique contributor names)
unique_contributors = df2['Contributors'].unique()

for idx, contributor in enumerate(unique_contributors):
    cursor.execute("INSERT INTO Contributors (contributor_id, Contributeur, nombre_de_contribution) VALUES (?, ?, ?)", 
                   idx + 1, contributor, int(df2[df2['Contributors'] == contributor]['Contributors_frequency'].sum()))
conn.commit()

In [751]:
# Create the Repository_Contributors table with foreign keys to Repositories and Contributors tables
cursor.execute('''
CREATE TABLE Repository_Contributors (
    repo_id INT,
    contributor_id INT,
    PRIMARY KEY (repo_id, contributor_id),
    FOREIGN KEY (repo_id) REFERENCES Repositories(repo_id),
    FOREIGN KEY (contributor_id) REFERENCES Contributors(contributor_id)
)
''')
conn.commit()

In [752]:
# Map the contributors to their respective contributor_id and insert into the Repository_Contributors table
contributors_mapping = {contributor: idx + 1 for idx, contributor in enumerate(unique_contributors)}
repo_contrib_data = []

for row in df2.itertuples(index=False):
    repo_id = row.repo
    contributor = row.Contributors
    contributor_id = contributors_mapping[contributor]
    repo_contrib_data.append((repo_id, contributor_id))
    
for data in repo_contrib_data:
    cursor.execute("INSERT INTO Repository_Contributors (repo_id, contributor_id) VALUES (?, ?)", data[0], data[1])
    conn.commit()

In [753]:
cursor.execute('''
CREATE TABLE Users (
    user_id INT PRIMARY KEY,
    user_name VARCHAR(50),
    repo_id INT,
    FOREIGN KEY (repo_id) REFERENCES Repositories(repo_id)
)
''')
conn.commit()

In [754]:
# Insert data into the "Users" table
unique_users = table_user['full_name'].unique()

for idx, user in enumerate(unique_users):
    cursor.execute("INSERT INTO Users (user_id, user_name, repo_id) VALUES (?, ?, ?)", idx + 1, user, 
                   int(table_user[table_user['full_name'] == user]['repo_id'].values[0]))
conn.commit()